**Print**

In [ ]:
# 1.Print name
print("Soumit Dey")

Soumit Dey

In [ ]:
# 2.Print in new line
print("My name is Soumit Dey.\nAnd I live in Bangladesh")

My name is Soumit Dey.
And I live in Bangladesh

In [ ]:
# 3.Print in one line
print("My name is Soumit Dey.",end="")
print("And I live in Bangladesh")

My name is Soumit Dey.And I live in Bangladesh

In [ ]:
# 4.Print list
country=['Bangladesh','India','Pakistan','Srilanka','Nepal']
print(country)

['Bangladesh', 'India', 'Pakistan', 'Srilanka', 'Nepal']

In [ ]:
# 5.Print replace function
word="Ball room"
print(word.replace("B","H"))

Hall room

Variable

In [ ]:
# 1.Simple type of variable
name="Soumit Dey"
age=22
print("My name is",name)
print("I am",age,"years old.")

My name is Soumit Dey
I am 22 years old.

In [ ]:
# 2. Variable type
a=10
b=20.4
c="Bangladesh"
d=False
print(type(a),type(b),type(c),type(d))

<class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [ ]:
# 3. Variable concat
poet="greatest English author"
age=15
print("Milton is described as the "+poet+" by biographer William Hayley.Milton's first datable compositions are two psalms written at age",age,"at Long Bennington.")

Milton is described as the greatest English author by biographer William Hayley.Milton's first datable compositions are two psalms written at age 15 at Long Bennington.

In [ ]:
# 4. adding number
a=10
b=20
c=30
sum=a+b+c
print(sum)

60

In [ ]:
# 5. Area of Triangle
base=3
height=5
triangle=0.5*base*height
print(triangle)

7.5

Operations

In [ ]:
# 1.Numerical operator
a=11
b=5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a//b)

16
6
55
2.2
1
2

In [ ]:
# 2. Relational operator
a=50
b=20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)

False
True
True
False

In [ ]:
# 3.Logical Operator
ch='U'
ch=ch.lower()
if ch=='a'or ch=='e'or ch=='i'or ch=='o'or ch=='u':
  print("Vowel")
else:
  print("Consonent")

Vowel

In [ ]:
# 4.Membership Operator
country=["Bangladesh","India","Pakistan"]
print("Bangladesh" in country)
print("Nepal" not in country)

True
True

In [ ]:
# 5.Identity Operators
x = [1, 2, 3]
x = [2, 2, 3]

print(x is x)
print(x is not x)

True
False

String

In [ ]:
# 1. String formating
name="Soumit Dey"
age=22
print(f"My name is {name}.I am {age} years old.")

My name is Soumit Dey.I am 22 years old.

In [ ]:
# 2.String using join
letter = ['h', 'e', 'l','l','o']
print("".join(letter))

hello

In [ ]:
# 3. String upper lower
text = "hello world"
print(text.upper())

HELLO WORLD

In [ ]:
# 4.Concat string
a="Joy"
b="Bangla"
print(a+" "+b)

Joy Bangla

In [ ]:
# 5.Indexing string
text="hello world"
print(text[1:-3])
print(text[1:-2:2])

ello wo
el o

Control flow

In [ ]:
# 1.Even number
num=100
if num%2==0:
  print("Even")
else:
  print("Odd")

Even

In [ ]:
# 2. marks distribution
marks=77
if 100>=marks>=80:
  print("A+")
elif 79>=marks>=70:
  print("A")
elif 69>=marks>=60:
  print("A-")
elif 59>=marks>=50:
  print("B")
elif marks<50:
  print("Fail")
else:
  print("Invalid")

A

In [ ]:
# 3.Find large number
num1=10
num2=20
num3=30
if num1>num2 and num1>num3:
  print(num1)
elif num2>num1 and num2>num3:
  print(num2)
else:
  print(num3)

30

In [ ]:
# 4.Postive and negative
num=-100
if num>0:
  print("Postive")
elif num<0:
  print("negative")
else:
  print("Zero")

negative

In [ ]:
# 5.ternary operator
num1=10
num2=100
number = num1 if num1>num2 else num2
print("The large number is",number)

The large number is 100

User Input

In [ ]:
# 1.Just String
a=input("Take first number:")
b=input("Take second number:")
c=a+b
print(c)

Take first number:10
Take second number:5
105

In [ ]:
# 2.normal problem
name=input("Enter a country:")
list=["Bangladesh","India","Pakistan","USA"]
if name in list:
  print("Exists")
else:
  print("Not Exists")

Enter a country:Nepal
Not Exists

In [ ]:
# 3. Normal Calculation
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
sum=a+b
sub=a-b
print("sum is :",sum)
print("sub is :",sub)

Enter first number:5
Enter second number:10
sum is : 15
sub is : -5

In [ ]:
# 4.sum of n-th number
n=int(input("Enter a number :"))
sum=0
for i in range(1,n+1):
  sum=sum+i
print("The sum is :",sum)

Enter a number :5
The sum is : 15

In [ ]:
# 5.area of circle
r=int(input("Give radius :"))
area=3.1416*r*r
print("Area of Circle is :",area)

Give radius :5
Area of Circle is : 78.54

Loop

In [ ]:
# 1.1*1+3*3+5*5+......+n*n
n=int(input("Enter a number :"))
sum=0
for i in range(1,n+1,2):
  sum=sum+i*i
print(sum)

Enter a number :5
35

In [ ]:
# 2. sum of even number
n=input("Enter some number:")
list=n.split()
sum=0
for i in list:
    if int(i)%2==0:
        sum=sum+int(i)
print("Sum of even number is",sum)

Enter some number:5 6 4 7
Sum of even number is 10

In [ ]:
# 3.multiplication table
n=int(input("Enter a number :"))
for i in range(1,11):
  print(f"{n} x {i} = {n*i}")

Enter a number :9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# 4.Guessing game
from random import randint

for i in range(1,5):
  guessNumber=int(input("Enter a guess number between 1 to 5 :"))
  randomNumber=randint(1,5)
  if guessNumber==randomNumber:
    print("I have won")
  else:
    print("I have lost")
    print("Random number was :",randomNumber)

Enter a guess number between 1 to 5 :2
I have lost
Random number was : 3
Enter a guess number between 1 to 5 :3
I have lost
Random number was : 1
Enter a guess number between 1 to 5 :1
I have lost
Random number was : 2
Enter a guess number between 1 to 5 :4
I have won

In [ ]:
# 5.print a list
list=["Africa","Europe","Ocenia","America"]
for i in list:
  print(i)

Africa
Europe
Ocenia
America

List

In [ ]:
# 1.List indexing
list=["Bangladesh","India","Pakistan","Nepal","England","USA"]
print(list[2:4])
print(list[-2:-5])
print(list[-2:-4:-2])

['Pakistan', 'Nepal']
[]
['England']

In [ ]:
# 2.concat list
list=["Bangladesh","India","Pakistan","Nepal","England","USA"]
print(list +["Bhutan",77])

['Bangladesh', 'India', 'Pakistan', 'Nepal', 'England', 'USA', 'Bhutan', 77]

In [ ]:
# 3.append and insert
list=["Bangladesh","India","Pakistan","Nepal","England","USA"]
list.append("UAE")
print(list)
list.insert(2,10)
print(list)

['Bangladesh', 'India', 'Pakistan', 'Nepal', 'England', 'USA', 'UAE']
['Bangladesh', 'India', 10, 'Pakistan', 'Nepal', 'England', 'USA', 'UAE']

In [ ]:
# 4.Change list item
list=["Bangladesh","India","Pakistan","Nepal","England","USA"]
list[-2]="Fiji"
print(list)

['Bangladesh', 'India', 'Pakistan', 'Nepal', 'Fiji', 'USA']

In [ ]:
# 5.remove and pop
list=["Bangladesh","India","Pakistan","Nepal","England","USA"]
list.remove("Pakistan")
print(list)
list.pop()
print(list)

['Bangladesh', 'India', 'Nepal', 'England', 'USA']
['Bangladesh', 'India', 'Nepal', 'England']

Tuple

In [ ]:
# 1.Print tuples
tuples=(
    ("Soumit Dey",22,3.90),
    "Matrix",
    "Fuse"
)
print(tuples)

(('Soumit Dey', 22, 3.9), 'Matrix', 'Fuse')

In [ ]:
# 2.counting
tuples = (1, 2, 2, 3, 2, 4)
count=tuples.count(2)
print(count)

3

In [ ]:
# 3. unpack multiple variable
tuples=(1,2,3,4,"string","country")
a,b,c,*rest= tuples
print(a,b,c)
print(*rest)

1 2 3
4 string country

In [ ]:
# 4.update tuples
tuples=(1,2,3,4,"string","country")
print(tuples + ("c++","python"))

(1, 2, 3, 4, 'string', 'country', 'c++', 'python')

In [ ]:
# 5.join tuple
tuples1=(1,2,3,4,"string","country")
tuples2=("Bangladesh","India","Pakistan","Nepal","England","USA")
tuples=tuples1+tuples2
print(tuples)

(1, 2, 3, 4, 'string', 'country', 'Bangladesh', 'India', 'Pakistan', 'Nepal', 'England', 'USA')

Dictionary

In [4]:
# 1.Print dictionary and change item
country={
    "Bangladesh":"Dhaka",
    "India":"New Delhi",
    "Pakistan":"Islamabad",
    "Nepal":"Katmandu"
}
country["Nepal"]=101
print(country)

{'Bangladesh': 'Dhaka', 'India': 'New Delhi', 'Pakistan': 'Islamabad', 'Nepal': 101}

In [5]:
# 2.add new item
country={
    "Bangladesh":"Dhaka",
    "India":"New Delhi",
    "Pakistan":"Islamabad",
    "Nepal":"Katmandu"
}
country["Afganistan"]="kabul"
print(country)

{'Bangladesh': 'Dhaka', 'India': 'New Delhi', 'Pakistan': 'Islamabad', 'Nepal': 'Katmandu', 'Afganistan': 'kabul'}

In [7]:
# 3.nested dictionary
country={
    "Bangladesh":{
        "Dhaka":"Dhanmondi",
        "Street" :1208,
        "Location":"Tejgaon"
    },
    "India":"New Delhi",
    "Pakistan":"Islamabad",
    "Nepal":"Katmandu"
}
print(country["Bangladesh"]["Street"])

1208

In [8]:
# 4.keys & values
country={
    "Bangladesh":{
        "Dhaka":"Dhanmondi",
        "Street" :1208,
        "Location":"Tejgaon"
    },
    "India":"New Delhi",
    "Pakistan":"Islamabad",
    "Nepal":"Katmandu"
}
keys=country.keys()
values=country.values()
print(keys)
print(values)

dict_keys(['Bangladesh', 'India', 'Pakistan', 'Nepal'])
dict_values([{'Dhaka': 'Dhanmondi', 'Street': 1208, 'Location': 'Tejgaon'}, 'New Delhi', 'Islamabad', 'Katmandu'])

In [10]:
# 5.Loop dictionary
country={
    "Bangladesh":"Dhaka",
    "India":"New Delhi",
    "Pakistan":"Islamabad",
    "Nepal":"Katmandu"
}
for items in country.items():
  print(items)

('Bangladesh', 'Dhaka')
('India', 'New Delhi')
('Pakistan', 'Islamabad')
('Nepal', 'Katmandu')

Function

In [11]:
# 1.calculation
def math(a,b,c):
  return a+b+c
math(5,6,7)

18

In [13]:
# 2.arguments
def  arguments(*number):
  sum=0
  for i in number:
    sum=sum+i
  print(sum)
arguments(10,20,30)

60

In [15]:
# 3.access global variable into function
g=20
def function():
  a=20
  a=a+10
  global g
  g=g+40
  print(g)
  print(a)
function()

60
30

In [21]:
# 4.Default values
def  default(a=10,b=20):
 print(a,b)

default(a="name",b=60)

name 60

In [26]:
# 5.positional and keyword
def function(a,b,/,x,y,*,c,d):
  print(a,b,c,d,x,y)

function(1,2,3,4,c=5,d=6)

1 2 5 6 3 4